body {
    margin: 0;
    padding: 0;
    background-image: url('assets/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Use a modern font */
    background-color: #f5f5f5; /* Light gray background */
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff; /* White container background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h2 {
    margin-bottom: 20px;
    color: #333; /* Dark text color */
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Dark text color */
}

.input-group input {
    width: 95%;
    padding: 10px; /* Increased padding for better visual appearance */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Increased font size */
}

button {
    width: 100%;
    padding: 12px; /* Increased padding for better visual appearance */
    background-color: #fc7f09;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px; /* Increased font size */
}

button:hover {
    background-color: #e65100;
}

.social-buttons button img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 10px; /* Add margin for separation */
}

